.navvB{
    background-color: white;
}
.navvB a{
    color: black;
}


.navvB a:hover{
    color: rgb(77, 77, 77);
}

.carousel-item{
    height: 35%;
    width: 100%;
}

.carousel-item img{
    height: 35%;
    width: 100%;
}

.ima{
    height: 80%;
}


.ca{
    padding: 0rem 1rem 0rem 1rem;
    margin-bottom: 5rem;
}

body{
    background-color: rgb(1, 1, 37);
}

.bl{
    color: black;
}

.cr{
    height: 20rem;
}

#kk{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

