.navvB{
    background-color: white;
}

.navvB a:hover{
    color: rgb(77, 77, 77);
}

.carousel-item{
    height: 40rem;
}

.carousel-item img{
    height: 40rem;
}

.ima{
    height: 80%;
}


.ca{
    padding: 0rem 1rem 0rem 1rem;
    margin-bottom: 1rem;
}

body{
    background-color: rgb(1, 1, 37);
}

.bl{
    color: black;
}

.cr{
    height: 28rem;
}