.navvB{
    background-color: white;
}

.navvB a:hover{
    color: rgb(77, 77, 77);
}

.Login{
    padding: 0rem 1rem 0rem 1rem;
    margin: 5rem 0rem 1rem 0rem;
    display: flex;
    justify-content: center;
    
}

body{
    background-color: rgb(1, 1, 37);
}

.bl{
    color: black;
}

.cr{
    height: 28rem;
}

form{
    color: white;
    width: 30rem;
}